node_modules
public/javascript/.DS_Store
public/style/.DS_Store
public/.DS_Store
.DS_Store
public/images/.DS_Store
test-results/
coverage/
*.log
public/javascript/bundle.js
public/javascript/bundle.js.LICENSE.txt
playwright-report/
test/e2e/screenshots/
